== render partial: 'admin/common/breadcrumb', locals: {subtitle: t('helpers.add'), sublinks: [{title: t('event'), path: admin_events_path}], right_subtitle: {}}
.row
  .col-lg-12
    == render 'form'
