# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: df58e69bfc14960fe314c46922de4ce2f784ce1304204f64619a96e6e11647dc21467a733552c02ea3fdbed380a9a6863cac675ff5138f679afcdd3b9b7363f3

test:
  secret_key_base: 09c20cb48c59e34fabe7e49abab0828653ea95312e41c95c22bceff78a6c29d0a3b3b314ec1ad757272fc8de4099fc2dcfc4ea7102270d00691cf752a5802e92

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
