/* Place all the styles related to the events controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/

 Bootstrap core CSS
 *= require TheProject/bootstrap/css/bootstrap

 Fontello CSS
 *= require TheProject/fonts/fontello/css/fontello

 Plugins
 *= require TheProject/plugins/magnific-popup/magnific-popup
 *= require TheProject/plugins/rs-plugin/css/settings
 *= require TheProject/animations
 *= require TheProject/plugins/owl-carousel/owl.carousel
 *= require TheProject/plugins/owl-carousel/owl.transitions
 *= require TheProject/plugins/hover/hover-min
 *= require TheProject/plugins/morphext/morphext

 The Project core CSS file
 *= require TheProject/style

 Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)
 *= require TheProject/skins/light_blue

 Custom css
 *= require TheProject/custom
 *
 */

@import 'font-awesome';
@import "media-queries";


header .title {
  padding: 0;
}

.votes {
  position: relative;
  height: 100%;
}

.vote {
  position: absolute;
  top: 0; left: 0;
  padding: auto 30px;
  z-index: 10;

  @include max-screen(768px) {
    height: 62px;
    width: 100%;
  }
  @include min-screen(768px) {
    height: 100%;
    width: 40%;
  }
  @include min-screen(1024px) {
    height: 100%;
    width: 40%;
  }
}

.link {
  width: 100%;
  @include max-screen(768px) {
    padding-top: 62px;
    height: auto;
  }
  @include min-screen(768px) {
    padding-top: 0;
    padding-left: 42%;
    height: 22px;
  }
  @include min-screen(1024px) {
    padding-top: 0;
    padding-left: 42%;
    height: 22px;
  }
}
/* 單選框 */
input[type="radio"], input[type="checkbox"] {
  display: none;

  & + label {
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;

    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 28px;

    @include max-screen(768px) {
      // background-color: #fcc;
      padding: 10px 0;
    }
    @include min-screen(768px) {
      // background-color: #f88;
      padding: 3% 0;
    }
    @include min-screen(1024px) {
      // background-color: #f00;
      padding: 3% 0;
    }

    .fa-check {display: none;}
  }

  &:checked + label {
    background-color: #66BB6A;
    color: #fff;

    .fa-check {
      margin-left: -28px;
      display: inline-block;
    }
  }
}
